{
  "openapi": "3.1.1",
  "info": {
    "title": "AgentsetAPI",
    "description": "Agentset is agentic rag-as-a-service",
    "version": "0.0.1",
    "contact": {
      "name": "Agentset Support",
      "email": "support@agentset.ai",
      "url": "https://api.agentset.ai/"
    },
    "license": {
      "name": "MIT License",
      "url": "https://github.com/agentset-ai/agentset/blob/main/LICENSE.md"
    }
  },
  "servers": [
    {
      "url": "https://api.agentset.ai",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/namespace": {
      "get": {
        "operationId": "listNamespaces",
        "x-speakeasy-name-override": "list",
        "summary": "Retrieve a list of namespaces",
        "description": "Retrieve a list of namespaces for the authenticated organization.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved namespaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NamespaceSchema"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "BadRequest",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "bad_request"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#bad-request"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Unauthorized",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "unauthorized"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "unauthorized"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#unauthorized"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Forbidden",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "forbidden"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "forbidden"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#forbidden"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "NotFound",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "not_found"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "not_found"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#not-found"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Conflict",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "conflict"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "conflict"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#conflict"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "410": {
            "description": "This response is sent when the requested content has been permanently deleted from server, with no forwarding address.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "InviteExpired",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invite_expired"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "invite_expired"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#invite-expired"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be followed due to semantic errors.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "UnprocessableEntity",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "unprocessable_entity"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#unprocessable-entity"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "RateLimitExceeded",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "rate_limit_exceeded"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "rate_limit_exceeded"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#rate-limit_exceeded"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "InternalServerError",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "internal_server_error"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "internal_server_error"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#internal-server_error"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createNamespace",
        "x-speakeasy-name-override": "create",
        "x-speakeasy-usage-example": true,
        "summary": "Create a namespace.",
        "description": "Create a namespace for the authenticated organization.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 48
                  },
                  "embeddingConfig": {
                    "$ref": "#/components/schemas/EmbeddingConfigSchema"
                  },
                  "vectorStoreConfig": {
                    "$ref": "#/components/schemas/VectorStoreSchema"
                  }
                },
                "required": [
                  "name",
                  "slug"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created namespace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/NamespaceSchema"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "BadRequest",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "bad_request"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#bad-request"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Unauthorized",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "unauthorized"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "unauthorized"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#unauthorized"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Forbidden",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "forbidden"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "forbidden"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#forbidden"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "NotFound",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "not_found"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "not_found"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#not-found"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Conflict",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "conflict"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "conflict"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#conflict"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "410": {
            "description": "This response is sent when the requested content has been permanently deleted from server, with no forwarding address.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "InviteExpired",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invite_expired"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "invite_expired"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#invite-expired"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be followed due to semantic errors.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "UnprocessableEntity",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "unprocessable_entity"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#unprocessable-entity"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "RateLimitExceeded",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "rate_limit_exceeded"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "rate_limit_exceeded"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#rate-limit_exceeded"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "InternalServerError",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "internal_server_error"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "internal_server_error"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#internal-server_error"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/namespace/{namespaceId}": {
      "get": {
        "operationId": "getNamespace",
        "x-speakeasy-name-override": "get",
        "summary": "Retrieve a namespace",
        "description": "Retrieve the info for a namespace.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "namespaceId",
            "schema": {
              "description": "The id of the namespace (prefixed with ns_)",
              "examples": [
                "ns_123"
              ],
              "type": "string"
            },
            "required": true,
            "description": "The id of the namespace (prefixed with ns_)"
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved namespace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/NamespaceSchema"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "BadRequest",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "bad_request"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#bad-request"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Unauthorized",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "unauthorized"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "unauthorized"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#unauthorized"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Forbidden",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "forbidden"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "forbidden"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#forbidden"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "NotFound",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "not_found"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "not_found"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#not-found"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Conflict",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "conflict"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "conflict"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#conflict"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "410": {
            "description": "This response is sent when the requested content has been permanently deleted from server, with no forwarding address.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "InviteExpired",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invite_expired"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "invite_expired"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#invite-expired"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be followed due to semantic errors.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "UnprocessableEntity",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "unprocessable_entity"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#unprocessable-entity"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "RateLimitExceeded",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "rate_limit_exceeded"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "rate_limit_exceeded"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#rate-limit_exceeded"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "InternalServerError",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "internal_server_error"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "internal_server_error"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#internal-server_error"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateNamespace",
        "x-speakeasy-name-override": "update",
        "x-speakeasy-max-method-params": 2,
        "summary": "Update a namespace.",
        "description": "Update a namespace for the authenticated organization. If there is no change, return it as it is.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "namespaceId",
            "schema": {
              "description": "The id of the namespace (prefixed with ns_)",
              "examples": [
                "ns_123"
              ],
              "type": "string"
            },
            "required": true,
            "description": "The id of the namespace (prefixed with ns_)"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 48
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated namespace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/NamespaceSchema"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "BadRequest",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "bad_request"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#bad-request"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Unauthorized",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "unauthorized"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "unauthorized"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#unauthorized"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Forbidden",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "forbidden"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "forbidden"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#forbidden"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "NotFound",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "not_found"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "not_found"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#not-found"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Conflict",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "conflict"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "conflict"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#conflict"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "410": {
            "description": "This response is sent when the requested content has been permanently deleted from server, with no forwarding address.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "InviteExpired",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invite_expired"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "invite_expired"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#invite-expired"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be followed due to semantic errors.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "UnprocessableEntity",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "unprocessable_entity"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#unprocessable-entity"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "RateLimitExceeded",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "rate_limit_exceeded"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "rate_limit_exceeded"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#rate-limit_exceeded"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "InternalServerError",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "internal_server_error"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "internal_server_error"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#internal-server_error"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteNamespace",
        "x-speakeasy-name-override": "delete",
        "x-speakeasy-max-method-params": 1,
        "summary": "Delete a namespace.",
        "description": "Delete a namespace for the authenticated organization. This will delete all the data associated with the namespace.",
        "tags": [
          "Namespaces"
        ],
        "security": [
          {
            "token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "namespaceId",
            "schema": {
              "description": "The id of the namespace (prefixed with ns_)",
              "examples": [
                "ns_123"
              ],
              "type": "string"
            },
            "required": true,
            "description": "The id of the namespace (prefixed with ns_)"
          }
        ],
        "responses": {
          "204": {
            "description": "The deleted namespace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/NamespaceSchema"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "BadRequest",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "bad_request"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#bad-request"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Unauthorized",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "unauthorized"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "unauthorized"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#unauthorized"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Forbidden",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "forbidden"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "forbidden"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#forbidden"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "NotFound",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "not_found"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "not_found"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#not-found"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "Conflict",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "conflict"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "conflict"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#conflict"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "410": {
            "description": "This response is sent when the requested content has been permanently deleted from server, with no forwarding address.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "InviteExpired",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "invite_expired"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "invite_expired"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#invite-expired"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be followed due to semantic errors.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "UnprocessableEntity",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "unprocessable_entity"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "unprocessable_entity"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#unprocessable-entity"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "RateLimitExceeded",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "rate_limit_exceeded"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "rate_limit_exceeded"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
                          "example": "https://docs.agentset.com/api-reference/errors#rate-limit_exceeded"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "x-speakeasy-name-override": "InternalServerError",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "internal_server_error"
                          ],
                          "description": "A short code indicating the error code returned.",
                          "example": "internal_server_error"
                        },
                        "message": {
                          "x-speakeasy-error-message": true,
                          "type": "string",
                          "description": "A human readable explanation of what went wrong.",
                          "example": "The requested resource was not found."
                        },
                        "doc_url": {
                          "type": "string",
                          "description": "A link to our documentation with more details about this error code",
[...]
